PORT=3000

# Reemplaza 'usuario', 'password', 'localhost:5432' y 'nombre_db' con tus datos locales o de tu servicio de DB
DATABASE_URL="postgresql://usuario:password@localhost:5432/nombre_db?schema=public"
